

.custom-icon:focus{
    outline: none;
    border: none;
}
.custom-icon .MuiSvgIcon-root{
    background-color: none;
}

.custom-icon .MuiSvgIcon-root:hover{
    background-color:  rgba(222, 208, 182, 0.75);
}



.custom-drawer .MuiDrawer-paper{
    background-color:  rgba(222, 208, 182);
}
